.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  align-self: end;
  margin-bottom: 9px;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
  background-image: url(../../../images/profile/profile-edit-button.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__edit-button[title] {
  font-size: 30px;
}

@media screen and (max-width: 650px)  {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
    margin-bottom: 6px;
  }
}
