.profile {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

@media screen and (max-width: 900px)  {
  .profile {
    flex-direction: column;
    margin-top: 42px;

  }
}



