.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin-block-start: 0;
  margin-block-end: 0;
  width: auto;
}


@media screen and (max-width: 650px)  {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}

