.profile__add-button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  transition: opacity 0.2s ease-out;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px)  {
  .profile__add-button {
    width: 282px;

  }
}




