.element__like-button {
  background-color: transparent;
  border: 0;
  margin-left: 25px;
  align-items: center;
  line-height: 0;
  transition: opacity 0.2s ease-out;
}

.element__like-button:hover {
  opacity: 0.5;
}

