.header {
  display: flex;
  margin: 45px auto 0 auto;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
  width: 100%;
}

@media screen and (max-width: 650px)  {
  .header {
    margin-top: 28px;
  }
}


